section {
    background-color: #88c1d0;
    margin: 1%;
    width: 98%;
    height: 200px;
}

@media (min-width: 1600px) {
    body {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 768px) and (max-width: 1599px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}

@media (max-width: 767px){
    body {
        display: flex;
        flex-direction: column;
    }
}